<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="actorName" value="soumen"></property>
        <property name="gender" value="male"></property>
        <property name="age" value="22"></property>
    </bean>

    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="actorName" value="sourodeep"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="age" value="15"></constructor-arg>
    </bean>

    <bean id="movie" scope="prototype" class="com.stackroute.domain.Movie" autowire="byName"/>

    <bean id="movie1" scope="prototype" class="com.stackroute.domain.Movie" autowire="constructor"></bean>

    <bean id="demo" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"/>

    <bean id="post-processor" class="com.stackroute.demo.BeanPostProcessorDemoBean"/>

</beans>